.home {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 150px 0 50px;
}

.home .tag {
    width: 50%;
    text-align: center;
    padding: 40px;
    font-size: 5rem;
    color: #FE5303;
    font-family: serif;
    text-shadow: 4px 4px 5px #000000;
}

.home .check-in-section{
    display: flex;
}

.home .check-in-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 620px;
    border-radius: 20px;
    background-color: #ffffff;
}

.home .check-in-container div {
    padding: 10px 30px;
    margin-right: 20px;
}

.home .check-in-container label {
    display: block;
    font-size: x-small;
    font-weight: bold;
    color: #686868;
}

.home .check-in-container div input {
    border: none;
    font-family: 'Montserrat';
    color: #252525;
    margin-top: 10px;
    outline: none;
    
}

.home .check-in-container input::-moz-selection {
  background-color: transparent;
}

.home .personas{
   width: 15px;
}

.home .date-input::-webkit-calendar-picker-indicator {
    background-image: url('../img/calendar.svg');
}


.home .btn-check{
    width: 25px;
    height: 10px;
    border: none;
    border-radius: 6px;
}

.home .btn-buscar {
    margin: 0 10px;
    padding: 23px 30px;
    border: none;
    border-radius: 20px;
    background-color: #FE5303;
    color: #ffffff;
    font-family: 'Montserrat';
    font-weight: bold;
    text-shadow: 0 1px 3px #000000;
}

.home .btn-buscar:hover{
    background-color: #da4501;
    cursor: pointer;
    scale: 1.02;
}

.home .btn-buscar:active{
    background-color: #FE5303;
    cursor: pointer;
    scale: 1;
}