body {
    font-family: 'Montserrat', sans-serif;
}

.background-main>img {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
}

.cont-header,.logo,.nav-bar,.nav-bar button,.check-in-container,.check-in-section {
    display: flex;
    align-items: center;
}

.cont-header {
    justify-content: space-between;
    align-items: end;
    margin: 0 50px;
}

h1>a{
    font-family: 'Lobster';
    color: #ffffff;
    font-size: 3em;
    text-shadow: 1px 1px 3px #000000;
}

.nav-bar {
    font-weight: bold;
    margin-top: 50px;
}

.nav-bar li {
    display: inline;
    margin: 0 0 0 20px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    text-shadow: 0px 1px 2px #000000;
}

.nav-bar button {
    font-weight: bold;
    padding: 10px 15px;
    margin-left: 40px;
    border: none;
    background-color: #FE5303;
    border-radius: 2em;
    color: #ffffff;
}

.cuerpo {
    width: 80%;
    margin: 0 auto;
}

.cuerpo>h2{
    width: 650px;
    font-size: 75px;
    margin: 13% 0;
    color: #ffffff;
    font-family: Times;
    text-shadow: 0px 1px 3px #000000;
}

.check-in-section{
    margin-top: 13%;
    align-items: center;
    justify-content: center;
}

.check-in-container{
    width: 620px;
    border-radius: 20px;
    background-color: #ffffff;
    justify-content: center;
}

.check-in-container>div {
    padding: 10px 30px;
    margin-right: 20px;
}

.check-in-container label {
    display: block;
    font-size: x-small;
    font-weight: bold;
    color: #686868;
}

.check-in-container>div>input {
    border: none;
    font-family: 'Montserrat';
    color: #252525;
    margin-top: 10px;
}

.btn-check{
    width: 30px;
    height: 20px;
    border: none;
    border-radius: 6px;
    background-color:#dfdfdf;
    text-align: center;
    font-family: 'Montserrat';
}

.btn-buscar{
    margin: 0 10px;
    padding: 23px 30px;
    border: none;
    border-radius: 20px;
    background-color: #FE5303;
    color: #ffffff;
    font-family: 'Montserrat';
    font-weight: bold;
    text-shadow: 0 1px 3px #000000;
}

.nav-bar button:hover, .btn-buscar:hover{
    background-color: #da4501;
    cursor: pointer;
    scale: 1.02;
}

.nav-bar button:active, .btn-buscar:active{
    background-color: #FE5303;
    cursor: pointer;
}
